<div class="container-fluid all-place">
  <div class="row">
    <div class="col-lg-3">
      <div class="card side-bar">

        <div class="row text-center">
          <div class="col-8 offset-2">
            <img src="https://image.freepik.com/free-icon/important-person_318-10744.jpg" class="rounded-circle img-fluid image-profile" alt="">
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <div class="list-group">
              <a routerLink="/dash" class="list-group-item list-group-item-action  " mdbWavesEffect>Dashboard</a>
              <a routerLink="/profile" class="list-group-item list-group-item-action  " mdbWavesEffect>Profile</a>
              <a routerLink="history" class="list-group-item list-group-item-action  " mdbWavesEffect>History</a>
              <a routerLink="logout" class="list-group-item list-group-item-action  " mdbWavesEffect>Logout</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-8">




    </div>
  </div>
</div>


