<mdb-card >
  <!--Card image-->
  <img height="100" width="80" src="../../assets/pdf.png" alt="" style="margin-left: 25px;margin-top: 5px">
  <!--Card content-->
  <mdb-card-body>

       <h6>Docfile.pdf</h6>
      <div class="row text-center">


        <button (click)="download()" class="btn btn-sm btn-primary"  mdbWavesEffect>Download</button>

  <!--      <a download="filename" target="_blank" href="file:///home/tarfa/upload-dir/Document1.doc.pdf">
          Click here to download image
        </a>-->
      </div>
  </mdb-card-body>
</mdb-card>
